---
---

@import "{{ site.theme }}";
footer {
    left:90%;
  }

section {
  width:790px;
}  

nav {
  text-align: right;

  ul {
    font-size: 11px;

    li {

      line-height: 12px;

    }

  }
}  
